{"openapi":"3.0.0","info":{"description":"This API provides access to structured and reliable data about Italian municipalities, postal codes (CAP), and administrative divisions. It allows you to search for cities using different parameters such as name, region, province, CAP, ISTAT code, or cadastral code. The service returns consistent data that can be used to validate user input, enrich datasets, or build location-based features. In addition to basic information, it also offers advanced details including population, area, fiscal codes, and contact data. Dedicated endpoints are available for regions, provinces, metropolitan cities, and historical municipalities. This API is designed to be simple to integrate and useful in real-world applications where accurate Italian geographic data is required. <br> <br> <h2>Testing</h2>Please note that the sandbox environment is loaded with a limited dataset and is intended to be used for testing purposes. Some search parameters might not work or return always the same data.","version":"2.0.0","title":"Cap","termsOfService":"https://openapi.it/en/terms-and-conditions","contact":{"url":"https://openapi.it/en/support","name":"Support"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"servers":[{"url":"https://cap.openapi.it","description":"Production"},{"url":"https://test.cap.openapi.it","description":"Sandbox"}],"tags":[{"name":"Comuni"},{"name":"Cap"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{}},"paths":{"/cerca_comuni":{"get":{"tags":["Comuni"],"summary":"Search cities by name, region and/or province","description":"Search Italian municipalities using multiple filters such as name, CAP, ISTAT code, cadastral code, region, or province. The response includes a list of matching municipalities and, when applicable, related frazioni (only when searching by CAP).","parameters":[{"name":"comune","in":"query","description":"Name of the city","schema":{"type":"string"}},{"name":"cap","in":"query","description":"Cap of the city","required":false,"schema":{"type":"string"}},{"name":"istat","in":"query","description":"Istat code of the city","required":false,"schema":{"type":"string"}},{"name":"codice_catasto","in":"query","description":"Land registry code of the city","required":false,"schema":{"type":"string"}},{"name":"regione","in":"query","description":"Region of the city","required":false,"schema":{"type":"string"}},{"name":"provincia","in":"query","description":"Province of the city","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"istat":{"type":"string"},"comune":{"type":"string"},"frazione":{"type":"string","nullable":true,"description":"Present only when the result refers to a specific frazione (mainly when searching by CAP)"},"suppressed":{"type":"boolean","description":"Indicates whether the municipality is suppressed"}}}},"suppressed":{"type":"array","description":"List of suppressed municipalities matching the search filters","items":{"type":"object","properties":{"istat":{"type":"string"},"comune":{"type":"string"}}}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer","nullable":true}}},"example":{"data":{"result":[{"istat":"70006","comune":"Campobasso","suppressed":false}],"suppressed":[{"istat":"1005","comune":"Alice Superiore","suppressed":true},{"istat":"1138","comune":"Lugnacco","suppressed":true}]},"success":true,"message":"","error":null}}}}}}},"/comuni_base/{code}":{"get":{"tags":["Comuni"],"summary":"Get basic information about a city","description":"basic information about city","parameters":[{"name":"code","in":"path","description":"ISTAT code or cadastral (Belfiore) code of the municipality","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"istat":{"type":"string"},"comune":{"type":"string"},"regione":{"type":"string"},"provincia":{"type":"string"},"cap":{"type":"array","items":{"type":"string"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"istat":"70006","comune":"Campobasso","regione":"Molise","provincia":"Campobasso","cap":["86100"]},"success":true,"message":"","error":null}}}}}}},"/comuni_advance/{code}":{"get":{"tags":["Comuni"],"summary":"Get more information about a city","description":"Retrieve advanced information about an Italian municipality using its ISTAT code or cadastral (Belfiore) code.\n\nThe response includes administrative and geographic details such as region, province, area, population, postal codes, hamlets, contact information, and fiscal code.\n\nStreet-level postal data is provided when available, grouped by CAP and including street names and address number ranges. This information is particularly useful for address validation, geolocation, and logistics.\n\nIf no street-level data is available, the **strade** field will be null, meaning that the municipality uses a single CAP and no street-level distinction is required.\n\nFor the municipality of Venezia, an additional field **sestieri** is returned. These represent the historical districts of the municipality and are associated with postal codes (CAP).","parameters":[{"name":"code","in":"path","description":"ISTAT code or cadastral (Belfiore) code of the municipality","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"istat":{"type":"string"},"comune":{"type":"string"},"regione":{"type":"string"},"provincia":{"type":"string"},"prefisso":{"type":"string"},"cod_fisco":{"type":"string","description":"This code, also known as 'codice Belfiore' can be used to validate Italian fiscal codes"},"superficie":{"type":"integer","format":"int32","description":"Surface in square kilometers"},"num_residenti":{"type":"integer","format":"int32"},"nome_abitanti":{"type":"string"},"patrono":{"type":"object","properties":{"nome":{"type":"string"},"data":{"type":"string"}}},"municipio":{"type":"object","properties":{"municipio":{"type":"string"}}},"istat_old":{"type":"string","format":"nullable"},"sigla_provincia":{"type":"string"},"email":{"type":"string"},"pec":{"type":"string"},"tel":{"type":"string"},"fax":{"type":"string"},"frazioni":{"type":"array","items":{"type":"string"}},"cap":{"type":"array","items":{"type":"string"}},"sestieri":{"type":"array","nullable":true,"description":"Available only for Venice. List of historical districts (sestieri) with associated CAP. The field 'quartiere' represents the name of the sestiere.","items":{"type":"object","properties":{"quartiere":{"type":"string","description":"Name of the sestiere (historical district of Venice)"},"cap":{"type":"string"}}}},"strade":{"type":"object","nullable":true,"description":"Dictionary of streets grouped by CAP (postal code). Key = CAP. Value = list of streets for that CAP. Each street includes its street number ranges (archi stradali), representing the segments of the street that fall within the specific CAP. This is particularly relevant for multi-CAP municipalities, where the same street may span across multiple CAPs and is divided by house number ranges or kilometers. Null if no street-level data is available.","additionalProperties":{"type":"array","description":"List of streets associated with the specified CAP","items":{"type":"object","properties":{"dug":{"type":"string","description":"Street type (e.g. VIA, PIAZZA, CORSO)"},"dug_complemento":{"type":"string","nullable":true,"description":"Optional complement of the street type"},"nome":{"type":"string","description":"Street name without type"},"dug_apici":{"type":"string","description":"Street type formatted with apostrophes if needed"},"dug_complemento_apici":{"type":"string","nullable":true,"description":"Complement with apostrophes if needed"},"nome_apici":{"type":"string","description":"Street name formatted with apostrophes if needed"},"denominazione_abbreviata":{"type":"string","description":"Full abbreviated street name (e.g. VIA TRIONFALE)"},"archi_stradali":{"type":"array","nullable":true,"description":"Street number ranges.","items":{"type":"object","properties":{"dal":{"type":"string","description":"Starting street number"},"al":{"type":"string","description":"Ending street number"},"parita":{"type":"string","description":"P = even numbers, D = odd numbers, K = kilometers"},"colore":{"type":"string","nullable":true,"description":"Indicates the house number color. 'R' = red (secondary numbering system commonly used in cities like Genoa and Florence). Present only when applicable.","example":"R"}}}}}}}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer","nullable":true}}},"example":{"data":{"istat":"58091","comune":"Roma","regione":"Lazio","provincia":"Roma","prefisso":"06","cod_fisco":"H501","superficie":1308,"num_residenti":2770226,"nome_abitanti":"Romani","patrono":{"nome":"SS. Pietro e Paolo","data":"29 giugno"},"municipio":{"municipio":"Via del Campidoglio"},"istat_old":null,"sigla_provincia":"RM","email":"ld.gabinetto@comune.roma.it","pec":"protocollo.segretariato@pec.comune.roma.it","tel":"+39 06/67102001","fax":"+39 06/67103590","frazioni":["Ostia","Acilia","Cesano","Castel di Guido"],"cap":["00118","00121","00128","00144"],"strade":{"00118":[{"dug":"VIA","dug_complemento":null,"nome":"ANAGNINA","dug_apici":"VIA","dug_complemento_apici":null,"nome_apici":"ANAGNINA","denominazione_abbreviata":"VIA ANAGNINA","archi_stradali":[{"dal":"100","al":"748","parita":"P"},{"dal":"147","al":"559","parita":"D"}]},{"dug":"VIA","dug_complemento":null,"nome":"CROPANI","dug_apici":"VIA","dug_complemento_apici":null,"nome_apici":"CROPANI","denominazione_abbreviata":"VIA CROPANI","archi_stradali":[{"dal":"6","al":"98","parita":"P"},{"dal":"11","al":"147","parita":"D"}]}]}},"success":true,"message":"","error":null}}}}}}},"/cap/{cap}":{"get":{"tags":["Cap"],"summary":"Get a list of cities that match a cap","description":"Retrieve municipalities associated with a specific CAP. For municipalities with multiple CAP codes, the response includes only the street segments (archi stradali) that fall within the requested CAP. Each street may appear with only a subset of its address ranges. For single-CAP municipalities, the streets list may be empty. The response also indicates whether the municipality has multiple CAP codes.","parameters":[{"name":"cap","example":"00136","in":"path","description":"A cap code","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"comuni":{"type":"array","items":{"type":"object","properties":{"istat":{"type":"string"},"comune":{"type":"string"},"frazione":{"description":"This field is only present if the CAP code belongs to an hamlet","nullable":true,"type":"string"},"comune_istat":{"description":"The istat code of the city the hamlet belongs to. If the CAP does not belong to a hamlet, this field matches the `istat` field. See `Pescia` in the example object.","type":"string"},"multi_cap":{"type":"boolean","description":"Indicates whether the municipality has multiple CAP codes"},"strade":{"type":"object","nullable":true,"description":"Dictionary of streets grouped by CAP (postal code). Key = CAP. Value = list of streets for that CAP. Each street includes its street number ranges (archi stradali), representing the segments of the street that fall within the specific CAP. This is particularly relevant for multi-CAP municipalities, where the same street may span across multiple CAPs and is divided by house number ranges or kilometers. Null if no street-level data is available.","additionalProperties":{"type":"array","description":"List of streets associated with the specified CAP","items":{"type":"object","properties":{"dug":{"type":"string","description":"Street type (e.g. VIA, PIAZZA, CORSO)"},"dug_complemento":{"type":"string","nullable":true,"description":"Optional complement of the street type"},"nome":{"type":"string","description":"Street name without type"},"dug_apici":{"type":"string","description":"Street type formatted with apostrophes if needed"},"dug_complemento_apici":{"type":"string","nullable":true,"description":"Complement with apostrophes if needed"},"nome_apici":{"type":"string","description":"Street name formatted with apostrophes if needed"},"denominazione_abbreviata":{"type":"string","description":"Full abbreviated street name (e.g. VIA TRIONFALE)"},"archi_stradali":{"type":"array","nullable":true,"description":"Street number ranges.","items":{"type":"object","properties":{"dal":{"type":"string","description":"Starting street number"},"al":{"type":"string","description":"Ending street number"},"parita":{"type":"string","description":"P = even numbers, D = odd numbers, K = kilometers"},"colore":{"type":"string","nullable":true,"description":"Indicates the house number color. 'R' = red (secondary numbering system commonly used in cities like Genoa and Florence). Present only when applicable.","example":"R"}}}}}}}}}}},"regione":{"type":"string"},"provincia":{"type":"string"},"sigla_provincia":{"type":"string","example":"RM"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"examples":{"multi_cap":{"summary":"CAP belonging to a multi-CAP municipality (with street segments)","value":{"data":{"comuni":[{"istat":"58091","comune":"Roma","comune_istat":"58091","frazione":null,"multi_cap":true,"strade":{"00136":[{"dug":"VIA","dug_complemento":null,"nome":"TRIONFALE","dug_apici":"VIA","dug_complemento_apici":null,"nome_apici":"TRIONFALE","denominazione_abbreviata":"VIA TRIONFALE","archi_stradali":[{"dal":"69","al":"5885","parita":"D"},{"dal":"130","al":"5650","parita":"P"}]}]}}],"provincia":"Roma","sigla_provincia":"RM","regione":"Lazio"},"success":true,"message":"","error":null}},"single_cap":{"summary":"CAP belonging to a single-CAP municipality","value":{"data":{"comuni":[{"istat":"58012","comune":"Bellegra","frazione":null,"comune_istat":"58012","multi_cap":false,"strade":null}],"provincia":"Roma","sigla_provincia":"RM","regione":"Lazio"},"success":true,"message":"","error":null}}}}}}}}},"/regioni":{"get":{"tags":["Regioni"],"summary":"Get the list of italian regions","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"regione":{"type":"string"},"capoluogo":{"type":"string"},"superficie":{"type":"number"},"num_residenti":{"type":"integer"},"num_province":{"type":"integer"},"num_comuni":{"type":"integer"},"presidente":{"type":"string"},"cod_fiscale":{"type":"string"},"piva":{"type":"string"},"pec":{"type":"string"},"sito":{"type":"string"},"sede":{"type":"string"},"istat":{"type":"string"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"regione":"Abruzzo","capoluogo":"L'Aquila","superficie":10831.84,"num_residenti":1305770,"num_comuni":305,"presidente":"Marco Marsilio","cod_fiscale":"80003170661","piva":"","pec":"urp@pec.regione.abruzzo.it","sito":"www.regione.abruzzo.it","sede":"Regione Abruzzo / Palazzo Silone - Via Leonardo da Vinci 6, 67100 L'Aquila","istat":"13","num_province":4},{"...":"..."}],"success":true,"message":"","error":null}}}}}}},"/province":{"get":{"tags":["Province"],"summary":"Get the list of italian provinces","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"sigla":{"type":"string"},"provincia":{"type":"string"},"superficie":{"type":"number"},"residenti":{"type":"integer"},"num_comuni":{"type":"integer"},"istat":{"type":"string"},"regione":{"type":"string"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"sigla":"AG","provincia":"Agrigento","superficie":3052.59,"residenti":446081,"num_comuni":43,"istat":"084","regione":"Sicilia"},{"...":"..."}],"success":true,"message":"","error":null}}}}}}},"/province/{code}":{"get":{"tags":["Province"],"summary":"Get an italian province","parameters":[{"name":"code","in":"path","description":"The province code, like RM, MI, TO etc...","example":"AG","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"sigla":{"type":"string"},"provincia":{"type":"string"},"superficie":{"type":"number"},"residenti":{"type":"integer"},"num_comuni":{"type":"integer"},"istat":{"type":"string"},"regione":{"type":"string"}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":{"sigla":"AG","provincia":"Agrigento","superficie":3052.59,"residenti":446081,"num_comuni":43,"istat":"084","regione":"Sicilia"},"success":true,"message":"","error":null}}}}}}},"/dug":{"get":{"tags":["Dug"],"summary":"Get the list of Italian street types (DUG)","description":"Retrieve the list of standardized street type names (DUG - Denominazione Urbanistica Generica) used in Italian addresses. Each item includes the full name and its official abbreviation.","parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"dug":{"type":"string","description":"Full street type name (e.g. VIA, PIAZZA, CORSO)"},"dug_abbreviata":{"type":"string","description":"Official abbreviation of the street type"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"dug":"ACCESSO","dug_abbreviata":"ACCE"},{"dug":"AEROPORTO","dug_abbreviata":"AERO"}],"success":true,"message":"","error":null}}}}}}},"/comuni_soppressi":{"get":{"description":"offering information on discontinued municipal entities.","tags":["Comuni"],"summary":"Get a list of suppressed municipalities","parameters":[{"name":"sigla_provincia","in":"query","description":"The province code, like RM, MI, TO etc...","example":"AG","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"istat":{"type":"string"},"comune":{"type":"string"},"cod_fisco":{"type":"number"},"sigla_provincia":{"type":"string"},"regione":{"type":"string"},"provincia":{"type":"string"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"istat":"24011","comune":"Barbarano Vicentino","cod_fisco":"A627","sigla_provincia":"VI","regione":"Veneto","provincia":"Vicenza"},{"...":"..."}],"success":true,"message":"","error":null}}}}}}},"/citta_metropolitane":{"get":{"description":"offering information on metropolitan cities, providing details about metropolitan areas and their features.","tags":["Comuni"],"summary":"Get a list of Italian metropolitan cities","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"denominazione":{"type":"string"},"capoluogo":{"type":"string"},"popolazione":{"type":"integer","format":"int32"},"superficie":{"type":"integer","format":"int32"},"densita":{"type":"integer","format":"int32"},"num_comuni":{"type":"integer","format":"int32"}}}},"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer"}}},"example":{"data":[{"denominazione":"MESSINA","capoluogo":"Messina","popolazione":631297,"superficie":3266,"densita":193,"num_comuni":108},{"...":"..."}],"success":true,"message":"","error":null}}}}}}}},"externalDocs":{"description":"First time here? Generate a new access token","url":"https://console.openapi.com/oauth"},"security":[{"bearerAuth":[]}]}